<%
<!---Mavbar data -->
const navlinks = [
    { label: "HOME", link: "/" },
    { label: "PAGE", link: "page" },
    { label: "SHOP", link: "/shop" },
    { label: "PORTFOLIO", link: "portfolio" },
    { label: "NEWS", link: "news" },
    { label: "CONTACT", link: "contact" }
];

<!--- Product -->
const product = [
    {
        image: "https://tunatheme.com/tf/html/fiama-preview/fiama/img/product/1.png",
        name:"Premium Joyful",
        price:"1 x $65.00"
    },
    {
        image: "https://tunatheme.com/tf/html/fiama-preview/fiama/img/product/2.png",
        name:"Premium Joyful",
        price:"1 x $65.00"
    },
    {
        image: "https://tunatheme.com/tf/html/fiama-preview/fiama/img/product/3.png",
        name:"Premium Joyful",
        price:"1 x $65.00"
    },
    {
        image: "https://tunatheme.com/tf/html/fiama-preview/fiama/img/product/4.png",
        name:"Premium Joyful",
        price:"1 x $65.00"
    }
];
%>
<style>
    .active {
        color: var(--primary);
    }
</style>
<main class="flex justify-center px-10">
    <nav class="flex justify-between lg:px-4 lg:w-4/5 w-full items-center py-6">
        <section class="lg:flex hidden">
            <!-- Logo -->
            <a href="/" class="text-4xl font-mono">
                <img src="https://tunatheme.com/tf/html/fiama-preview/fiama/img/logo.png" alt="Fiama Logo" class="h-8" />
            </a>
        </section>
        <section class="w-full flex bg justify-center flex-nowrap items-center gap-4 lg:hidden">
            <div class="w-full">
                <!-- Logo -->
                <a href="/" class="text-4xl font-mono">
                    <img src="https://tunatheme.com/tf/html/fiama-preview/fiama/img/logo.png" alt="Fiama Logo" class="h-8" />
                </a>
            </div>
            <div class="w-full flex gap-5 items-center justify-end">
                <!-- Cart Section -->
                <section onclick="toggleProduct(true)" class="lg:hidden">
                    <div class="relative">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                            <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                        </svg>
                        <span class="absolute top-0 right-0 inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-white bg-[#E55472] rounded-full transform translate-x-1/2 -translate-y-1/2">
                            4
                        </span>
                    </div>
                </section>
                <!-- Menu -->
                <svg onclick="toggleMenu(true)" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                </svg>
            </div>
        </section>
        <div class="hidden lg:flex items-center gap-8">
            <% navlinks.forEach((navabr) => { %>
                <a class="text-black hover:text-[#E55472] <%= navabr.link === currentRoute ? 'active' : '' %>" href="<%= navabr.link %>">
                    <%= navabr.label %>
                </a>
            <% }); %>
        </div>
        <!-- Cart Section -->
        <section onclick="toggleProduct(true)" class="lg:flex hidden">
            <div class="flex items-center gap-6">
                <div class="relative">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                        <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                    </svg>
                    <span class="absolute top-0 right-0 inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-white bg-[#E55472] rounded-full transform translate-x-1/2 -translate-y-1/2">
                        4
                    </span>
                </div>
                <div class="flex flex-col">
                    <span class="text-sm">YOUR CART</span>
                    <span class="text-sm text-[--primary]">$89.25</span>
                </div>
            </div>
        </section>
        <!-- Sidebar mobile menu -->
        <div id="sideMenu" class="fixed h-full z-50 w-screen lg:hidden bg-black/50 backdrop-blur-sm top-0 right-0 -translate-x-full transition-all">
            <section class="text-black bg-white text-left flex-col absolute left-0 top-0 h-screen p-8 gap-8 z-50 w-4/5 flex">
                <div class="flex justify-between items-center mb-10">
                    <section class="lg:hidden items-center flex">
                        <!-- Logo -->
                        <a href="/" class="text-4xl font-mono">
                            <img src="https://tunatheme.com/tf/html/fiama-preview/fiama/img/logo.png" alt="Fiama Logo"/>
                        </a>
                    </section>
                    <svg class="text-3xl cursor-pointer" onclick="toggleMenu(false)"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </div>
                <div class="flex gap-3 items-center px-2 py-2.5 border border-[#E55472]">
                    <input type="text" class="w-full border-none focus:outline-none"/>
                    <svg class="text-2xl" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                    </svg>
                </div>
                <div class="flex flex-col gap-8">
                    <% navlinks.forEach((navbar) => { %>
                        <a class="text-black hover:text-[#E55472] <%= navbar.link === currentRoute ? 'active' : '' %>" href="<%= navbar.link %>">
                            <%= navbar.label %>
                        </a>
                    <% }); %>
                </div>
            </section>
        </div>
        <!-- Sidebar product -->
        <div id="sideProduct" class="fixed h-full z-30 w-screen bg-black/50 backdrop-blur-sm top-0 right-0 translate-x-full transition-all">
            <section class="text-black bg-white text-left overflow-y-auto overflow-hidden flex-col z-0 absolute cursor-pointer right-0 z-40 cursor-pointer top-0 h-full p-8 gap-8 flex lg:w-1/4 w-full">
                <div class="flex justify-between items-center pb-8 border-b">
                    <h1 class="text-lg">CART</h1>
                    <svg class="text-3xl cursor-pointer" onclick="toggleProduct(false)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </div>
                <section class="w-full h-full flex gap-4 flex-col">
                    <% product.forEach((pro) => { %>
                        <div class="flex gap-3 w-full h-full px-2 py-2.5 border-b">
                            <img class="w-20 h-full" src="<%= pro.image %>" alt="Premium Joyful" />
                            <div class="w-full flex justify-between">
                                <div>
                                    <p class="font-semibold text-[16px]"><%= pro.name %></p>
                                    <span class="font-semibold text-[16px] text-[#E55472]">$65.00</span>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </section>
                <div class="w-full flex justify-between font-semibold text-[16px]">
                    <h2>Subtotal</h2>
                    <p class="text-[#E55472]">$65.00</p>
                </div>
                <div class="mt-4 flex justify-between w-full">
                    <button class="btn-view w-40 btn-view-cart">VIEW CART</button>
                    <button class="btn-check w-40 btn-checkout">CHECKOUT</button>
                </div>
            </section>
        </div>
    </nav>
</main>

<script>
    const sideMenu = document.querySelector("#sideMenu");
    const sideProduct = document.querySelector("#sideProduct");

    const toggleMenu = (check) => {
        if (check) {
            sideMenu.classList.remove("-translate-x-full");
        } else {
            sideMenu.classList.add("-translate-x-full");
        }
    }

    const toggleProduct = (check) => {
        if (check) {
            sideProduct.classList.remove("translate-x-full");
        } else {
            sideProduct.classList.add("translate-x-full");
        }
    }
</script>
